<div class="d-flex flex-wrap col align-items-end" id="sight-form-div">
    <div class="d-flex flex-wrap col align-items-end" id="sight-form">
        <form [formGroup]="sightForm" class="rounded m-2 p-5" (ngSubmit)="onSubmit()">

            <h1 class="w-100 text-center mt-3 mb-4"> Sight / Attraction </h1>

            <app-location-search-box [sight]="sightFromGroup"></app-location-search-box>

            <app-date-input [type]="'datetime-local'" [dates]="datesFromGroup"></app-date-input>

            <section class="w-100 text-center mt-4">
                <button type="submit" class="btn btn-blue w-50">Submit</button>
            </section>

        </form>
    </div>
</div>
<img id='girl' src="../../../../assets/travel_plans_girl.svg">
<app-shared-modal #sharedModal [modalInfo]="modalInfo"></app-shared-modal>