<section class="d-flex justify-content-center place-items-center flex-wrap mb-3">
    @for(user of  userProfiles; track user.id; let i = $index){
        <div class="card" (click)="openUserModal(user)">
        <div class="card-info">
            <div id="profile-photo-div" class="d-flex justify-content-center">
                <img id="profile-photo" [src]="user.photo" (error)="handleImageError($event)" alt='match profile picture'/>
            </div>
            <div class="card-title">{{user.name | titlecase}}</div>
            <div class="card-subtitle rounded"></div>
        </div>
        <div class="card-social">
            <h6 class="fw-2 rounded w-100 text-center">
                <img id="match-icon" class="p-2" src="../../../assets/match.png" alt="Match Icon" width="40px"> 
                <strong class="ps-2">{{user.matchPercentage}}%</strong> match</h6>
        </div>
    </div>
    } @empty {
    <div class="d-flex justify-content-center row mb-4 me-sm-5 ms-sm-5 p-5 rounded ">
        <h4 class="text-center pb-4"> No matches yet </h4>
        <img id='no-match-img' src="../../../../assets/user-magnifying-glass.png">
    </div>
    }

</section>

<app-shared-modal #sharedModal [modalInfo]="modalInfo" ><app-user-profile-view [sentUserData]="userDisplayed"></app-user-profile-view></app-shared-modal>