<p>user-card works!</p>
<section class="d-flex justify-content-center place-items-center flex-wrap">
<div class="card ms-2 me-2">
    <div class="card-info">
        <div id="profile-photo-div" class="d-flex justify-content-center">
            <img id="profile-photo" [src]="userData.photo" (error)="handleImageError($event)"/>
        </div>
        <div class="card-title">Steve Jobs</div>
        <div class="card-subtitle rounded"></div>
    </div>
    <div class="card-social">
        <h6 class="fw-2 rounded w-100 text-center">
            <img id="match-icon" class="p-2" src="../../../assets/match.png" alt="Match Icon" width="40px"> 
            <strong class="ps-2">95%</strong> match</h6>
    </div>
</div>
<div class="card">
    <div class="card-info">
        <div id="profile-photo-div" class="d-flex justify-content-center">
            <img id="profile-photo" src="http://tinyurl.com/4af7t7cb" (error)="handleImageError($event)"/>
        </div>
        <div class="card-title">Steve Jobs</div>
        <div class="card-subtitle rounded"></div>
    </div>
    <div class="card-social">
        <h6 class="fw-2 rounded w-100 text-center">
            <img id="match-icon" class="p-2" src="../../../assets/match.png" alt="Match Icon" width="40px"> 
            <strong class="ps-2">95%</strong> match</h6>
    </div>
</div>
<div class="card">
    <div class="card-info">
        <div id="profile-photo-div" class="d-flex justify-content-center">
            <img id="profile-photo" src="https://i.pinimg.com/736x/a8/06/0a/a8060af01fe6971b37f945fb34275acb.jpg" (error)="handleImageError($event)"/>
        </div>
        <div class="card-title">Steve Jobs</div>
        <div class="card-subtitle rounded"></div>
    </div>
    <div class="card-social">
        <h6 class="fw-2 rounded w-100 text-center">
            <img id="match-icon" class="p-2" src="../../../assets/match.png" alt="Match Icon" width="40px"> 
            <strong class="ps-2">95%</strong> match</h6>
    </div>
</div>

</section>