<section>
    <figure class="rounded-circle d-flex justify-content-center">
        <img id='profile-photo' class="rounded-circle w-75 "
        src="https://images.hola.com/imagenes/actualidad/20231011241604/lady-gaga-rumores-de-embarazo-imagenes-concierto/1-322-390/lady-gaga6-t.jpg?tx=w_680" alt="Your Profile Picture">
    </figure>
    <h2 class="fs-2 text-center">Paula Lopez</h2>
    
   <p class="text-center"> h! i'm paula</p>
   <section id="likes" class="m-5 p-5 rounded row ">
    <p>Paula's likes: </p>
    <p class="like p-2 me-2">hostels</p>
    <p class="like p-2">chicken</p>
   </section>
   <section id="trips" class="m-5 p-5 rounded row ">
    <p>Paula's trips: </p>
    <article>
        <figure>
            <img id='trip-photo' class="w-100" src="https://viajes.nationalgeographic.com.es/medio/2019/04/01/brasov_3d6dbe41_800x800.jpg">
            <p class="trip p-2 w-100 text-cenert"> Romania</p>
        </figure>
    </article>
    <p class="trip p-2">chicken</p>
   </section>

</section>