<div id='main-container' class="col-12 d-flex justify-content-center align-items-center rounded">
    <div class="profile-container pt-5 pb-5 d-flex flex-wrap ">
        <section id="profile-header" class="col-sm-12 col-lg-6 offset-lg-3 mb-md-5  mb-sm-0 rounded d-flex col ">
            <div class="col-6 d-flex justify-content-center">
                <div id="profile-photo-div" class="d-flex justify-content-center mb-3">
                    <img id="profile-photo" [src]="userData.photo" (error)="handleImageError($event)"/>
                </div>
            </div>
            <div class="col-6 ps-1 p-0 d-flex justify-content-center align-items-center">
                <div>
                    <h3 class="w-100 text-center">{{userData.name | titlecase}}</h3>
                    @if( userData.matchPercentage != null ){
                    <h6 class="fw-2 rounded w-100 mt-3 mb-3 text-center">
                        <img id="match-icon" class="p-2" src="../../../assets/match.png" alt="Match Icon" width="40px"> 
                        <strong class="ps-2">{{userData.matchPercentage}}%</strong> match</h6>
                    }
                </div>
            </div>
        </section>

        @if(trips.length>0) {
            <div class="col-12 d-flex col flex-wrap justify-content-center">
                <app-trip-card [tripsValue]="trips" class="w-75"></app-trip-card>
            </div>
        } @else {
            <p class="w-100 text-center"> No trips yet </p>
        }
        
    </div>
</div>