h3 {
    color: var(--mainDarkColor);
    font-weight: bolder;
}

.rounded{
    border-radius: 23px !important;
}

#main-container{
    background: #ecfaf800; 
} 

#profile-photo {
    width: 150px;
    object-fit: cover;
    clip-path: circle();
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
}

#profile-photo-div{
    overflow: visible ;
    width: 150px;
    height: 150px;
}

#match-icon {
    padding: 5px;
    vertical-align: middle;
    background-color: var(--bgLightSecondaryColor);
    clip-path: circle();
}


@media (min-width: 768px) {
    .profile-container {
        width: 90%;
    }

    #profile-photo {
        height: 20vw;
    }

}

@media (min-width: 1200px) {
    #profile-photo {
        height: 10vw;
    }

}