$textColor: #042e2f;
$primaryColor: #97f7e9;
$secondaryColor: #C8FB62;
$accentColor: #5cebda;
$bgLightBlueColor: #ECFAF8;
$bgLightGreenColor: #F0FADC;
$primary: #97f7e9;

h3 {
    color: #23BBAB;
    font-weight: bolder;
}

#profile-photo {
    clip-path: circle();
    height: 40vw;
    background-size: cover;
    background-position: center;
}

#match-icon{
    padding: 5px;
    vertical-align: middle;
    background-color: $bgLightGreenColor;
    clip-path: circle();
}

#upcoming-trips {
    background-color: $bgLightBlueColor;
}

#trip-photo {
    clip-path: inherit;
    border-radius: 23px 23px 0px 0px;
}
.bio{
    font-size: small;
}

.up-trip{
    background-color: $primaryColor;
    width: fit-content;
    border-radius: 0px 0px 23px 23px;
}

#past-trips {
    background-color: $bgLightGreenColor;
}

.past-trip {
    background-color: $secondaryColor;
    width: fit-content;
    border-radius: 0px 0px 23px 23px;
}

@media (min-width: 768px) {
    .profile-container{
        width: 90%;
    }

    #profile-photo {
        height: 20vw;
    }
    
}

@media (min-width: 1200px) {
    #profile-photo {
        height: 10vw;
    }
    
}