.modal-style-primary {
    border-top: 10px solid #5cebda;
    color: var(--text-color);
}

.modal-style-danger {
    border-top: 10px solid #DC3545;
    color: var(--text-color);
}
.round-top{
    border-radius: 23px 23px 0px 0px;
}

.round-bottom{
    border-radius: 0px 0px 23px 23px;
}

.close-btn{
    border-color: rgb(198, 198, 198);

    &:hover{
        border-color: rgb(154, 154, 154);
    }
}
