<ng-template #sharedModal let-c="close" let-d="dismiss">
    <div class="modal-header body">
      <h5 class="modal-title" id="modal-title">
      body
      </h5>
      <button
        type="button"
        class="close"
        aria-describedby="modal-title"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        body
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="d('Cross click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn "
        (click)="c('Save click')"
      >
        Ok
      </button>
    </div>
  </ng-template>