@if(currentTrips.length > 0){
    <h1 class="text-center shadow p-5 mb-0" id="current-trips-title">Current Trips</h1>

    @for(trip of currentTrips; track trip.id; let i = $index; ){
        <section class="border">
            <h2 class="text-center mt-5 mb-5">{{trip.name}}</h2>
            <app-user-card [userProfiles]="matchUserProfiles[i]"></app-user-card>
        </section>                
    }    
}

@if(upcomingTrips.length > 0){
    <h1 class="text-center shadow p-5 mb-0" id="upcoming-trips-title">Upcoming Trips</h1>
    @for(trip of upcomingTrips; track trip.id; let i = $index;){
        <section class="border">
            <h2 class="text-center mt-5 mb-5">{{trip.name}}</h2>
            <app-user-card [userProfiles]="matchUserProfiles[currentTrips.length + i]"></app-user-card>
        </section>  
    }
}
