<!-- <p>trip-edit works!</p>
<img id='trip-banner' class="w-100" [src]="trip.photo" (error)="handleImageError($event)"> -->
<div class="d-flex align-items-center flex-wrap-reverse col" id="trip-form-div">
    <div class="col-lg-6 col col-sm-12" id="trip-form">
        <h1 class="w-100 text-center mt-5">Edit Trip</h1>
        <form [formGroup]="editTripForm" class="bg-white m-4 m-lg-5 mt-lg-1 pt-2 p-5">
            <section formControlName="name" class="mt-3">
                <label for="name">Trip Name</label>
                <input formControlName="name" type="text" class="form-control" id="name" maxlength="30" 
                [ngClass]="(!this.editTripForm.controls['name'].valid && this.editTripForm.controls['name'].touched) ? 'is-invalid':''">
                @if(!this.editTripForm.controls['name'].valid && this.editTripForm.controls['name'].touched){
                <p class="ms-3 form-text text-danger"> {{getInputError('name')}}</p>
                }
            </section>
            <app-country-dropdown [destination]="destinationFromGroup"></app-country-dropdown>
            <app-date-input  [dates]="datesFromGroup"></app-date-input>
        </form>
    </div>
    <div class="col-lg-6 col-sm-12 " id="image-container" [ngStyle]="{'background-color': 'red'}">
        <img id='trip-image' class="" [src]="trip.photo" (error)="handleImageError($event)">
    </div>
</div>