<div class="d-flex align-items-center flex-wrap-reverse col" id="trip-form-div">
    <div class="col-lg-6 col col-sm-12" id="trip-form">
        <h1 class="w-100 text-center mt-5">Edit Trip</h1>
        <form [formGroup]="editTripForm" class="bg-white m-3 m-lg-5 mt-lg-1 pt-2 p-3 ">
            <fieldset  class="border rounded p-5 pt-2">
                <legend class="float-none w-auto p-2"> General </legend>
            <section>
                <label for="name">Trip Name</label>
                <input formControlName="name" type="text" class="form-control" id="name" maxlength="30" 
                [ngClass]="(!this.editTripForm.controls['name'].valid && this.editTripForm.controls['name'].touched) ? 'is-invalid':''">
                @if(!this.editTripForm.controls['name'].valid && this.editTripForm.controls['name'].touched){
                <p class="ms-3 form-text text-danger"> {{getInputError('name')}}</p>
                }
            </section>
            <app-country-dropdown [destination]="destinationFromGroup"></app-country-dropdown>
            <app-date-input [type]="'date'"  [dates]="datesFromGroup"></app-date-input>
        </fieldset>
        <fieldset  class="border rounded d-flex justify-content-center row p-5 pt-0 pb-3">
            <legend class="float-none w-auto p-2 mb-0"> Sights </legend>
                    <button class="m-3 btn btn-blue" [routerLink]="routerLink('new')"> Add new sight </button>
                    <button class='m-3 btn btn-blue'  [routerLink]="routerLink('edit')"> Edit sight </button>
        </fieldset>
        </form>
    </div>

    <div class="col-lg-6 col-sm-12 " id="image-container">
        <img id='trip-image' class="" [src]="photo" (error)="handleImageError($event)">
    </div>
</div>


