<p>trip-card works!</p>
<div class="card">
    <div class="card-info">
        <div class="card-avatar"></div>
        <div class="card-title">Berlin</div>
        <div class="card-subtitle">14-05 &amp;15-05r</div>
    </div>
</div>



<!-- <p>trip-card works!</p>
<div class="card">
    <div class="card-info">
        <div class="card-avatar"></div>
        <div class="card-title">Berlin</div>
        <div class="card-subtitle">14-05 &amp;15-05r</div>
    </div>
    <div class="card-social">
        <div class="card-social__item">
            <p class="fw-2 rounded w-100 text-center"><img id="match-icon" class="p-2"
                src="../../../assets/match.png" alt="Match Icon" width="40px"> <strong
                class="">95%</strong>
            match</p>
        
            </div>
    </div>
</div> -->