i{
    color: var(--mainDarkColor);
    font-size: larger;
    margin: 10px;
}

span{
    color: var(--textColor);  
}

.title{
    font-family: var(--headerFont);
    font-size: large;
}

.container-fluid{
    border-right: 1px solid rgba(128, 128, 128, 0.249);
    height: 90vh;
}

.nav-pills .nav-link{
    color: #042e2fb7;
}

.nav-item .active{
    background-color: #F8F9FA;
    font-weight: bold;
    i{
        color: #157a70;
    }
}

.nav-item:hover{
    color: var(--text-color);
}
