i{
    color: var(--mainDarkColor);
    font-size: larger;
    margin: 10px;
}

a{
    color: var(--text-color);
}

.container-fluid{
    border-right: 1px solid rgba(128, 128, 128, 0.249);
}

.nav-pills .nav-link{
    color: #042e2fb7;
}
.nav-item .active{
    background-color: white;
    font-weight: bolder;
}

.nav-item:hover{
    color: var(--text-color);
}
