#trip-banner{
    height: 25vh;
    object-fit: cover;
    z-index: -100;
    filter: brightness(90%);
}

#addSightMessage{
    height: 25vh;
}

.manage-btn{
    &:hover{
        border: 1px solid black !important;
    }
}

.position-relative {
    width: 90vw;
}

h1{
    font-size: xx-large;
}

#map{
    height: 50vh;
}

#calendar{
    height: 50vh;
}

@media (max-width: 576px) {
    .position-relative{
        width: 80vw;
    }
}
@media (min-width: 1200px) {
    .position-relative{
        width: 94vw;
    }

}