<div class="d-flex flex-wrap col align-items-end" id="trip-form-div" >
    <div class="d-flex flex-wrap col align-items-end" id="trip-form" >
    <form [formGroup]="tripForm" class="rounded m-2 p-5" (ngSubmit)="onSubmit()">
        <h1 class="w-100 text-center mt-3 mb-4">New Trip</h1>
        <section formControlName="name"class="mt-3">
            <label for="name">Trip Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" maxlength="30"
            [ngClass]="(!this.tripForm.controls['name'].valid && this.tripForm.controls['name'].touched) ? 'is-invalid':''">
            @if(!this.tripForm.controls['name'].valid && this.tripForm.controls['name'].touched){
                <p class="ms-3 form-text text-danger"> {{getInputError('name')}}</p>
            }        
        </section>
    
        <app-country-dropdown [destination]="destinationFromGroup"></app-country-dropdown>
        <app-date-input [dates]="datesFromGroup"></app-date-input>
        <section class="w-100 text-center mt-4">
            <button type="submit" class="btn btn-blue w-50">Submit</button>
        </section>    
    </form>
    <div></div>
</div>

<img id='girl' src="../../../assets/travel-girl-suitcase.svg">

<app-shared-modal #sharedModal [modalInfo]="modalInfo"></app-shared-modal>