<form [formGroup]="sight">

    <input formControlName="name" list="address-list" id="input" placeholder="Search a place"
        (keydown)="deleteCoordinates()" (keyup)="getAddressOptions()"
        [ngClass]="(isValidAddress())? 'form-select is-invalid' : 'form-select'">

    @if(addressOptions.length > 0 && display){
    <ul id="address-list" class="p-0">
        <option *ngFor="let address of addressOptions, let i = index" class="border border-light p-2"
            (click)="selectAddress(address)">
            {{address.display_name}}</option>
    </ul>
    }
    @if(isValidAddress()){
    <p class="text-danger form-text">Please type and select a location</p>
    }
</form>