$textColor: #042e2f;
$primaryColor: #97f7e9;
$secondaryColor: #c7dc7a;
$accentColor: #5cebda;
$bgLightBlueColor: #ECFAF8;
$bgLightGreenColor: #F0F4E0;

.container-div {
   display: flex;
   align-content: center;
   justify-content: center;
   height: 100vh;
   padding: 2rem;
   background-color: #999999;
}

.bg-green {
   background-color: $bgLightGreenColor;
   border-radius: 13px;
   min-height: 40vh;
   display: grid;
   place-items: center;
}

.card-img {
   background-image: url(../../../../assets/illustration-man-suitcase.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 23px 0px 0px 23px;
   max-height: 75vh;
}

.form-half {
   background-color: white;
   border-radius: 0px 23px 23px 0px;
   overflow-x: hidden;
   overflow-y: auto;
   max-height: 75vh;
   display: grid;
   align-items: center;
   font-weight: small;
}

.main-card {
   scrollbar-gutter: auto;
   min-height: 50%;
}

h1 {
   font-size: x-large;
   color: $secondaryColor
}

label {
   font-size: small;
   color: $textColor
}

.btn-blue {
   font-size: smaller;
   width: 50%;
   place-self: center;
}

.counter {
   font-size: x-large;
}

.small-text {
   font-size: small;
   text-align: center;
   padding-bottom: 30px;

   a {
      text-decoration: none;
      font-weight: bold;
      color: $textColor;
   }
}

.row {
   --bs-gutter-x: 0rem
}

@media (max-width: 780px) {
   .card-img {
      display: none;
   }

   .form-half {
      width: 100% !important;
      border-radius: 23px;
   }

   .main-card {
      width: 100%;
      display: grid;
      place-items: center;

   }

   .form-half-content {
      padding-left: 10px !important;
      padding-right: 10px !important;
   }
}