<div class="main-container d-flex justify-content-center">
  <div class="col-md-12 col-lg-8 d-flex justify-content-center align-items-center row m-2">
    <h2 class="text-center pt-4 pb-4">Edit Profile</h2>

    <form [formGroup]="editUserProfileForm">
      <section class="row pb-4">
        <div class="col-md-3 col-sm-12 d-flex justify-content-center">
          <div id="profile-photo-div" class="d-flex justify-content-center mb-3">
              <img id="profile-photo" [src]="userData.photo" (error)="handleImageError($event)"/>
          </div>
      </div>
        <div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <p class="text-center">Profile Picture</p>
            <button class="btn btn-blue me-2">Remove </button>
            @if (!updatePhoto) {
            <button class="btn btn-green" (click)="setUpdatePhoto()">Update</button>
            }
          </div>
        </div>
      </section>

      @if (updatePhoto) {
      <section class="">
        <label class="mt-3 pb-1" for="image"> Choose a new profile picture:</label> 
        <div class="">
          <input #imageInput  formControlName="photo" accept="image/png, image/gif, image/jpeg" type="file" id="image"
            class="border border-light w-70">
          <!-- <p class="text-danger form-text">Select a valid image Format</p> -->
        </div>
      </section>
      }
      <hr>

      <section class="form-floating">
        <input formControlName="name" (blur)="userDataUpdated('name')" type="name" class="form-control" id="name">
        <label for="name">Name</label>
      </section>

      <br>

      <section class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="email">
        <label for="email">Email</label>
      </section> 

      <br>

      <label>Password:</label>
      <!--TODO do the same as "forgot password"-->

    </form>
  </div>
</div>

<!-- Image Input -->