<div class="main-container d-flex justify-content-center">
  <div class="col-md-12 col-lg-8 d-flex justify-content-center align-items-center row m-2">
    <h3 class="text-center pt-4 pb-4">Edit Profile</h3>

    <form [formGroup]="editUserProfileForm">
      <section class="row pb-4">
        <div class="col-md-3 col-sm-12 d-flex justify-content-center">
          <div id="profile-photo-div" class="d-flex justify-content-center mb-3">
              <img id="profile-photo" [src]="userData.photo" (error)="handleImageError($event)"/>
          </div>
      </div>
        <div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <p class="text-center">Profile Picture</p>
            @if (userData.photo !== null ) {
            <button class="btn btn-blue me-2" (click)="imgUpload(null)">Reset </button>
            }
            @if (!updatePhoto) {
            <button class="btn btn-green" (click)="showUploadImgInput()">Upload</button>
            }
          </div>
        </div>
      </section>

      @if (updatePhoto) {
        <app-img-upload-input (imageLink)="imgUpload($event)"></app-img-upload-input>
      }
      <hr>

      <section class="form-floating">
        <input formControlName="name" (blur)="userDataUpdated('name')" (blur)="isValidInput('name')" type="text" class="form-control" id="name">
        @if(!isValidName){<p class="ms-3 form-text text-danger"> Min 2 characters</p>}
        <label for="name">Name</label>
      </section>

      <br>

      <section class="form-floating">
        <input formControlName="email" (blur)="userDataUpdated('email')" (blur)="isValidInput('email')" type="email" class="form-control" id="email">
        @if(!isValidEmail){<p class="ms-3 form-text text-danger"> Invalid Email</p>} 
        <label for="email">Email</label>
      </section> 

      <br>

      <section>
        <p>Password:</p>
        <button class="btn btn-blue" routerLink="/password">Change Password</button>
      </section> 

    </form>
  </div>
</div>
