<main class="flex-shrink-0">
    <header class="py-5 pt-xxl-0 ">
        <div class="container px-5 pb-5">
            <div class="row gx-5 align-items-center">
                <div class="col-xxl-5">
                    <!-- Header text content-->
                    <div class="text-center text-xxl-start">
                        <div class="fs-3 fw-light text-muted">Love to travel and meet people?</div>
                        <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Find mates along the way!</span></h1>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                            <a class="btn btn-blue btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"> Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7">
                    <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                        <div class="profile bg-gradient-primary-to-secondary mt-5 d-flex justify-content-center">
                            <img  class='pt-5 mt-5' src="../../../assets/travel_people.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section-->
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Features</span></h2>
                        <p class="lead fw-light mb-4">Find mates to enhance your travels</p>
                        <p class="text-muted">Find the perfect travel mate based on your common trip interests, and organize and visualize your trips in the easiest way possible</p>
                        <section class='d-flex flex-wrap justify-content-center'>
                            <div class="m-5">
                                <i class="fa-solid fa-fire-flame-curved" style="color: #a2a8b4;"></i>
                                <p>Travel Matches</p>
                            </div>
                            <div class="m-5">
                                <i class="fa-solid fa-percent" style="color: #a2a8b4;"></i>
                                <p>Match Percentage</p>
                            </div>
                            <div class="m-5">
                                <i class="fa-solid fa-plane" style="color: #a2a8b4;"></i>
                                <p>Plan your travels</p>
                            </div>
                            <div class="m-5">
                                <i class="fa-solid fa-map" style="color: #a2a8b4;"></i>
                                <p>Map View</p>
                            </div>
                            <div class="m-5">
                                <i class="fa-regular fa-calendar" style="color: #a2a8b4;"></i>
                                <p>Calendar View</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<h1> fix footer with my info</h1>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="small" href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>