<nav class="navbar navbar-expand-lg bg-white border-bottom pt-3 pb-3">
  <div class="container-fluid grid">
    <a class="navbar-brand col-4" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-7" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-9">
        <li class="nav-item col-2">
          <a class="nav-link active" aria-current="page" href="#"> ABOUT </a>
        </li>
        <li class="nav-item col-2">
          <a class="nav-link" href="#"> TRIPS </a>
        </li>
        <li class="nav-item col-2">
          <a class="nav-link" href="/matches"> MATCHES</a>
        </li>
      </ul>

      <div class="col-2">
        @if(isLoggedIn){
        <button class="btn btn-blue" (click)="logout()">
          LOG OUT
        </button>
        } @else {
        <button class="btn btn-blue" (click)="openLogin()">
          LOG IN
        </button>
        }
      </div>
    </div>
  </div>
</nav>

<app-login #loginModal (openRegisterClicked)="openRegister()">
</app-login>
<app-register #registerModal (openLoginClicked)="openLogin()">
</app-register>