<form [formGroup]="dates">
    @for(input of dateForm; track $index){
    <section class="mt-3">
        <label for="date"> {{input.label}} </label>
        <input #date class="form-control"
        [formControlName]="input.formControlName" type="date" id="date" name="date" [min]="todayDate" max="2028-02-20"
        [ngClass]="(!this.dates.controls[input.formControlName].valid && this.dates.controls[input.formControlName].touched) ? 'is-invalid':''">
        @if(!this.dates.controls[input.formControlName].valid && this.dates.controls[input.formControlName].touched){
            <p class="ms-3 form-text text-danger"> Invalid Date</p>
        }  
    </section>
    }
</form>
