<form [formGroup]="dates">
    @for(input of dateForm; track $index){
    <section class="mt-3">
        <label for="date"> {{input.label}} </label>
        <input #date class="form-control"
        [formControlName]="input.formControlName" [type]="type" id="date" name="date" [min]="startDate" [max]="endDate"
        [ngClass]="(!this.dates.controls[input.formControlName].valid && this.dates.controls[input.formControlName].touched) ? 'is-invalid':''">
        @if(!this.dates.controls[input.formControlName].valid && this.dates.controls[input.formControlName].touched){
            <p class="ms-3 form-text text-danger"> {{getInputError(input.formControlName)}}</p>
        }  
    </section>
    }
</form>
