/* You can add global styles to this file, and also import other style files */
$textColor: #042e2f;
$primaryColor: #97f7e9;
$secondaryColor: #c7dc7a;
$accentColor: #5cebda;
$bgLightBlueColor: #ECFAF8;
$bgLightGreenColor: #F0F4E0;

:root {
    --dark-primary-color: #e70909;
    --secondary-color: #2ecc71;
  }
body {
    font-family: 'Poppins', sans-serif;
    color: $textColor;
}

.btn-blue{
    background-color: $primaryColor;
    border-color: $primaryColor ;
    color: $textColor;

    &:hover{
        color: $textColor;
        background-color: $bgLightBlueColor;
        border-color: $primaryColor ;
        border-width: 2px;
    }
}

.btn-green{
    background-color: $secondaryColor;
    border-color: $secondaryColor ;
    color: $textColor;

    &:hover{
        color: $textColor;
        background-color: $bgLightGreenColor;
        border-color: $secondaryColor ;
        border-width: 2px;
    }
}

div .modal-content{
    background-color: rgba(255, 255, 255, 0) !important;
    --bs-body-bg: transparent;
}

.modal {
    --bs-modal-border-color: none !important;
}

