/* You can add global styles to this file, and also import other style files */
:root {
    --textColor: #042e2f;
    --mainDarkColor: #23BBAB;
    --primaryColor: #97f7e9;
    --secondaryColor: #c7dc7a;
    --accentColor: #5cebda;
    --bgLightPrimaryColor: #ECFAF8;
    --bgLightSecondaryColor: #F0F4E0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
}

.btn-blue{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor) ;
    color: var(--textColor);

    &:hover{
        color: var(--textColor);
        background-color: var(--bgLightPrimaryColor);
        border-color: var(--primaryColor) ;
        border-width: 2px;
    }
}

.btn-green{
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor) ;
    color: var(--textColor);

    &:hover{
        color: (--textColor);
        background-color: var(--bgLightSecondaryColor);
        border-color: var(--secondaryColor) ;
        border-width: 2px;
    }
}

div .modal-content{
    background-color: rgba(255, 255, 255, 0) !important;
    --bs-body-bg: transparent;
}

.modal {
    --bs-modal-border-color: none !important;
}

