/* You can add global styles to this file, and also import other style files */
:root {
    --textColor: #042e2f;
    --mainDarkColor: #23BBAB;
    --primaryColor: #97f7e9;
    --secondaryColor: #c7dc7a;
    --accentColor: #5cebda;
    --bgLightPrimaryColor: #ECFAF8;
    --bgLightSecondaryColor: #F0F4E0;
    --headerFont:  "Squada One", sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
}

h1, h2, h3{
    font-family: "Squada One", sans-serif;
}

.btn-blue{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor) ;
    color: var(--textColor);

    &:hover{
        color: var(--textColor);
        background-color: var(--bgLightPrimaryColor);
        border-color: var(--primaryColor) ;
        border-width: 2px;
    }
}

.btn-green{
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor) ;
    color: var(--textColor);

    &:hover{
        color: (--textColor);
        background-color: var(--bgLightSecondaryColor);
        border-color: var(--secondaryColor) ;
        border-width: 2px;
    }
}

div .modal-content{
    background-color: rgba(255, 255, 255, 0) !important;
    --bs-body-bg: transparent;
}

.modal {
    --bs-modal-border-color: none !important;
}


//MAP
.mapboxgl-popup-content {
    color: white !important;
    background-color:  var(--accentColor) ;
    padding: 6px;
    font-family: 'League Spartan', sans-serif !important;
    max-width: 150px;
    border-radius: 10px;
    border: 2px solid var(--textColor);

    p{
        margin-bottom: 0px !important;
    }

    .mapPopupText{
        background-color:var(--primaryColor);
        color: var(--textColor);;
        padding: 0px 10px 0px 10px;
        border-radius: 10px;
    }
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color:var(--textColor);
    
}

//CALENDAR
.fc {
    a{
        color: var(--textColor);
    }
    .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
        background-color: var(--primaryColor);
        border-color: var(--textColor);
        color: var(--textColor);
    }
    .fc-button-primary{
        background-color: var(--bgLightPrimaryColor);
        color: var(--textColor);
    
        &:hover{
            background-color: var(--mainDarkColor);  
        }
    }
    .fc-toolbar.fc-header-toolbar{
        flex-wrap: wrap;
        justify-content: space-evenly;    
    }
    .fc-daygrid-day.fc-day-today{
        background-color: #F6F6F6;
    }
    .fc-button-primary:disabled{
        background-color: #F6F6F6;
        border-color: var(--textColor) !important;
        color: var(--textColor) !important;
        font-weight: bold;
    }
}

.fc-today-button .fc-button .fc-button-primary{
    button{
    background-color: red;
    }
}

.fc-toolbar-chunk{
    margin: 5px;
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";